@font-face {
  font-family: "iconfont"; /* Project id 3736286 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3736286_enag69a7ie.woff2?t=1666965975905') format('woff2'),
       url('//at.alicdn.com/t/c/font_3736286_enag69a7ie.woff?t=1666965975905') format('woff'),
       url('//at.alicdn.com/t/c/font_3736286_enag69a7ie.ttf?t=1666965975905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Docker:before {
  content: "\e9f3";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-React:before {
  content: "\e79a";
}

.icon-CSS:before {
  content: "\e61e";
}

.icon-Go:before {
  content: "\e62d";
}

.icon-HTML:before {
  content: "\e632";
}

.icon-scss:before {
  content: "\e657";
}

.icon-TypeScript:before {
  content: "\e6a3";
}
